<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


    <!--main content--> 
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to the about me page</h1>
        <p>My name is Mandeep Kaur. Im pursuing programming because im always wanted to learn about backend technology.
             I am someone who is extrovert which makes me feel more confident. But also I'm more comfortable with people
              i know because I feel they understand me better and information conveyed to them will be interpreted easily.
              My hobbies are reading books and listening songs.I have a lot of belief in dreaming big and taking steps to pursue these dreams.  </p>
      </div>
      <a><img src="Assets/images/IMG_5354.png" alt = "me"width="300" height="400" style="float:right"></a>
      
    </main>

    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>   