<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


    <!--main content--> 
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to the about me page</h1>
        
        <p><a><img src="Assets/images/IMG_5354.png" alt = "me" width="300" height="400" style="float:right"></a>
            <i>My name is Mandeep Kaur. Im pursuing programming because I was always curious to learn about technology.<br>I am someone who is extrovert which makes me feel more confident. But also I'm more comfortable with <br>people
              i know because I feel they understand me better and information conveyed<br> to them will be interpreted easily.
              My hobbies are reading books and listening songs.I have a lot of belief in dreaming big and taking steps to pursue these dreams.</i>  </p>
      </div>
      <a href="https://docs.google.com/document/d/1GwVcRA7FdG3dDjai3vET5YCPJ6Me6-HNrqFJ26LXqK0/edit?usp=sharing"><h3 style="color:cadetblue">My resume </h3></a>
      
      
    </main>

    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>   