<!--Script Section-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/css/bootstrap.min.js"></script>
<script src ="/Scripts/app.js"></script>
</body>
</html>     

<!--Web_Assignment2, Mandeep Kaur 301225713, oct-25-2022-->